* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif, 'Arial';
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}


/* Header */

header {
  background-color: crimson;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 60px;

}

.logo a{

  color: #fff;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-decoration: none;
}

/* Nav */

/* .nav__links is ul */

.nav__links{
  display: flex;
}


.nav__links li{
  list-style-type: none;
  /* float: left; */
}

.nav__links a{
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 3px;
  display: block;
  padding: 1.6em 2em;
}

.nav__links a:hover {
  background: #b11226;
  color: #F5F5F5;
}

.nav__links a.active {
  background: #000;
}

/* Container */

.container {
  padding: 0 1em;
  max-width: 1000px;
  margin: 1em auto;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}


/* Footer */

.footer {
  background: #333;
  color: #fff;
  min-height: 50px;
  margin-top: auto;
  padding: 0 1em;
  display: flex;
  /* align-items: center; */
}

footer {
  margin: auto;
}


/* Burger */

@media screen and (min-width: 750px) {
  .burger{
    display: none;
  }

}

@media screen and (max-width: 750px) {

  header {
    padding: 0 1em;
    justify-content: space-between;
  }


  /* Burger  Div is important*/
  .burger div{
    width: 25px;
    height: 3px;
    background: #fff;
    margin: 5px;
    transition: transform 0.3s ease-in;
    cursor: pointer;
  }

  .nav__links{
    position: fixed;
    top: 60px;
    right:0;
    height: calc(100% - 60px);
    background-color: crimson;
    text-align: center;
    max-width: 700px;
    width: 100%;
    flex-direction: column;
    transform: translateX(100%);
    transition: all 0.5s ease;

  }

  .nav__active{
    transform: translateX(0%);
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }


}
